@import "../styles/colors.scss";
.root {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 60px 1fr;
  @media screen and (min-width: 1000px) {
    grid-template-columns: 300px 1fr;
  }
}
.header {
  h1 {
    margin: 0;
    font-size: 1rem;
    width: 10rem;
    line-height: 1.1;
    a {
      &:hover,
      &:active {
        color: $linkColor;
      }
    }
  }
  .contain {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.logo {
  margin-bottom: 0.5rem;
  max-height: 22px;
  max-width: 80%;
}

.contain {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
  align-items: flex-start;
}

.title {
  font-weight: 800;
  font-size: 1.5rem;
  transition: 0.2s ease all;
}

//
// Responsive Navigation
//

.navToggle {
  height: 22px;
  display: block;
  transform-origin: left top;
  cursor: pointer;
  @media screen and (min-width: 1000px) {
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
  }
}
.navContainer {
  overflow-y: scroll;
  height: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 300px;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 4rem;
  background: #fff;
  border-right: 1px solid $borderColor;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;

  @media screen and (min-width: 1000px) {
    transform: translateX(0);
  }
}

nav {
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  @media screen and (min-width: 1000px) {
    transform: translateX(0);
  }
}
.navToggle {
  display: block;
  position: relative;
  z-index: 20;
  left: 20px;
  top: -0.25rem;
  transition: 0.3s ease all;
  transform-origin: center left;
  @media screen and (min-width: 1000px) {
    display: none;
  }
}
.navToggleInput:checked ~ .navContainer {
  transform: translateX(0);
  nav {
    transform: translateX(0);
  }
}

.navToggleInput:checked ~ .navToggle {
  left: 250px;
  transform: scale(-1) translateX(-30px);
}

//
// Content
//

.content {
  width: 100%;
  margin-top: 2rem auto;
  height: 100%;
  .contain {
    display: block;
  }
  article {
    max-width: 50rem;
    margin: 0 auto 7rem;
  }
}
