@import "../styles/colors.scss";

.header {
  padding-top: 3rem;
  padding-bottom: 1rem;
  transition: 0.2s ease color;
  &:hover,
  &:active {
    color: $linkColor;
  }
}

.contain {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  align-items: flex-start;
}

.title {
  font-weight: 800;
  font-size: 1.5rem;
}

.content {
  width: 100%;
  margin-top: 5rem;
  padding-left: 3rem;
}
