@import "../styles/colors.scss";

.root {
  list-style: none;
  margin: 1.25rem 0 5rem;
  font-family: $fontNavigation;
}

.contain {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.link,
.parentLink,
.childLink {
  font-size: 1rem;
  font-weight: 300;
  color: $textColor;
  line-height: 1.4;
  padding: 0.75rem 0;
  display: block;
  transition: 0.2s ease color;
  cursor: pointer;
  &:hover,
  &:active,
  &:global(.active) {
    color: $linkColor;
  }
  ~ div {
    overflow: hidden;
    height: 0;
  }
}

.parentLink {
  display: flex;
  align-items: center;
  &:global(.active) ~ div {
    overflow: visible;
    height: auto;
  }
  &:global(.active) {
    svg {
      transform: rotate(90deg) translate(2px, 0);
    }
  }
}

.svg {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.5rem;
}

ol.childList {
  counter-reset: section;
  li {
    margin-left: 4rem;
    &::marker {
      font-weight: 300;
    }
  }
}

.childLink {
  position: relative;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 0;
  &::before {
    content: "";
    position: absolute;
    left: -3.75rem;
    top: 0;
    height: 100%;
    width: 1px;
    background: $gray-light-4;
    transition: 0.5s ease all;
  }
  &::after {
    position: absolute;
    left: -1.5rem;
    top: 0.5rem;
    counter-increment: section;
    content: "" counter(section) ". ";
  }
  &:global(.active) {
    color: $linkColor;
    &::before {
      background: $linkColor;
      width: 3px;
    }
  }
}
